{% extends "blogs/index.html" %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" href="{% static "blogs/edit_profile.css" %}">

<body>
  <div class="main-content">
    <!-- Top navbar -->


    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 100px; ; background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Hello {{ request.user.first_name }}</h1>
            <p class="text-white mt-0 mb-5">This is your edit profile page. You can see the current details of your profile and edit them from here.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                        <img src="{{request.user.profile.user_dp.url}}" class="rounded-circle">
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                  <form method="POST">
                      {% csrf_token %}
                      <input name="user_dp" type="file" id="upload" hidden/>
                        <label for="upload" class="btn btn-sm btn-info mr-4">Select Picture</label>
                      <br>
                      <button id="submit_button" name="button" value="picture_change" type="submit" class="btn btn-sm btn-info mr-4">Save Picture</button>
                  </form>
                  <div>
                    <a href="#" class="btn btn-sm btn-default float-right">Add Credit Card</a>
                    </div>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">{{ request.user.profile.blog_count }}</span>
                      <span class="description">Blogs</span>
                    </div>
                    <div>
                      <span class="heading">{{ request.user.profile.followers }}</span>
                      <span class="description">Followers</span>
                    </div>
                    <div>
                      <span class="heading">{{ request.user.profile.likes }}</span>
                      <span class="description">Likes</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                    {{request.user.first_name}} {{ request.user.last_name }}
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>{{ request.user.profile.user_type}}
                </div>
                <hr class="my-4">
                <p>{{ request.user.profile.user_bio }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
{#                <div class="col-4 text-right">#}
{#                  <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>#}
{#                </div>#}
              </div>
            </div>
            <div class="card-body">
              <form method="POST">
                  {% csrf_token %}
                  <button name="button" value="edit_info" style="margin-left: 920px" type="submit" class="btn btn-sm btn-primary">Save Changes</button>
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">Username</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="{{ request.user.email}} " disabled>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com" value="{{ request.user.email}}" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">First name</label>
                        <input type="text" name="input-first-name" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value="{{ request.user.first_name }}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Last name</label>
                        <input type="text" name="input-last-name" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value="{{ request.user.last_name }}">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">About me</h6>
                <div class="pl-lg-4">
                  <div class="form-group focused">
                    <label>About Me</label>
                      <textarea rows="4" name= "user-bio-input" class="form-control form-control-alternative" placeholder="A few words about you ...">{{ request.user.profile.user_bio }}</textarea>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6 m-auto text-center">
        <div class="copyright">
          </div>
      </div>
    </div>
  </footer>
</body>



<script>
    const userDpInput = document.getElementById('upload');
    const submitButton = document.getElementById('submit-button');

    userDpInput.addEventListener('change', function() {
      if (userDpInput.files.length > 0) {
        submitButton.style.display = 'block';
      } else {
        submitButton.style.display = 'none';
      }
    });
  </script>

{% endblock %}